/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.form-holder .aa {
    background-image: url(../image/WAEC.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.form-holder .bb {
    background-image: -o-linear-gradient(45deg, #360033, #0b8793);
    background-image: linear-gradient(45deg, #360033, #0b8793);
}

.form-holder {
    margin-left: 0;
    position: relative;
}
.form-content .form-items {
    /* max-width: unset; */
}

#g-recaptcha-response {
    display: block !important;
    position: absolute;
    margin: -78px 0 0 0 !important;
    width: 302px !important;
    height: 76px !important;
    z-index: -999999;
    opacity: 0;
}

.grecaptcha-badge {
    z-index: 100000;
}

.form-group .help-block {
    color: red;
    text-align: left;
}

.form-group.issue .help-block, .form-group.issue .help-inline {
    color: #FF8D60;
}

.form-group.error .help-block, .form-group.issue .help-inline {
    color: #d9534f;
}

.form-group.error input, .form-group.error select, .form-group.error textarea {
    color: #d9534f;
    border-color: #d9534f;
}

.form-group.issue input, .form-group.issue select, .form-group.issue textarea {
    color: #FF8D60;
    border-color: #FF8D60;
}


@media (max-width: 992px) {
    .form-holder {
        margin-left: 0;
        display: initial;
    }

    .footer {
        z-index:100;
    }

}


